<div class="standard-form scrollable">
    <header class="adventure-header">
        <h1>{{adventure.name}}</h1>
    </header>

    {{~#if adventure.img}}
    <figure class="adventure-banner">
        <img src="{{adventure.img}}" alt="{{adventure.name}}">
        {{#if adventure.caption}}<figcaption>{{{adventure.caption}}}</figcaption>{{/if}}
    </figure>
    {{/if}}

    <section class="adventure-contents flexrow">
        <section class="adventure-overview">
            <h2>{{localize "ADVENTURE.ImportHeaderOverview"}}</h2>
            {{{description}}}
        </section>
        <section class="import-controls">
            <h2>{{localize "ADVENTURE.ImportHeaderContents"}}</h2>
            {{#if imported}}
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="importFields" value="all" data-tooltip aria-label="{{ localize "ADVENTURE.ImportAll" }}"
                        checked>
                    {{ localize "ADVENTURE.ImportAll" }}
                </label>
            </div>
            {{#each contents}}
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="importFields" value="{{ field }}" checked disabled
                        data-tooltip aria-label="{{ localize "ADVENTURE.ImportContent" label=label }}">
                    <i class="{{ icon }} fa-fw" inert></i>
                    {{ count }} {{ label }}
                </label>
            </div>
            {{/each}}
            {{else}}
            <ul class="plain">
                {{#each contents}}
                <li><i class="{{this.icon}} fa-fw" inert></i> {{this.count}} {{this.label}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
        {{#if optionsSchema}}
        <section class="import-options">
            <h2>{{localize "ADVENTURE.ImportHeaderOptions"}}</h2>
            {{#each optionsSchema.fields as |field|}}
            {{formGroup field classes="inline"}}
            {{/each}}
        </section>
        {{/if}}
    </section>
</div>
