<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{formGroup fields.description value=source.description rootId=rootId}}
    {{formGroup fields.formula value=source.formula placeholder=formulaPlaceholder rootId=rootId}}
    {{formGroup fields.replacement value=source.replacement rootId=rootId}}
    {{formGroup fields.displayRoll value=source.displayRoll rootId=rootId}}
</section>
