<p>{{localize "SETUP.ManifestUpdateAvailable" package=package}}</p>
<strong>{{localTitle}}</strong>
<p><a href="{{localManifest}}" data-tooltip aria-label="{{localTitle}}" target="_blank">{{localManifest}}</a></p>
<strong>{{remoteTitle}}</strong>
<p><a href="{{remoteManifest}}" data-tooltip aria-label="{{remoteTitle}}" target="_blank">{{remoteManifest}}</a></p>
<p>{{localize "SETUP.SwapToTheUpdatedManifest"}}</p>
