<div class="table-draw" data-table-id="{{table.id}}">
    {{#if description}}
    <div class="table-description">{{{description}}}</div>
    {{/if}}
    {{{rollHTML}}}

    <ul class="table-results">
        {{#each results as |result|}}
        <li class="flexrow" data-result-id="{{result.id}}">
            <img src="{{result.icon}}">
            {{{result.details}}}
        </li>
        {{/each}}
    </ul>
</div>
