{{#each entries as |entry|}}
<div class="form-group slim package" data-package-id="{{entry.id}}">
    <span class="label ellipsis" data-action="setManifestUrl">{{entry.label}}</span>
    <div class="form-fields">
        {{~#if entry.protected}}
        <span class="protected" data-tooltip aria-label="{{localize "SETUP.PackageProtected"}}">
            <i class="fa-solid fa-{{#if entry.owned}}unlock-keyhole{{else}}lock{{/if}}" inert></i>
        </span>
        {{/if~}}
        <a href="https://foundryvtt.com/packages/{{entry.id}}/" rel="nofollow" target="_blank"
           class="button inline-control icon fa-solid fa-arrow-up-right-from-square"
           data-tooltip aria-label="{{localize "SETUP.ViewPackagePage"}}"></a>
        {{~#if entry.installed}}
        <button type="button" disabled>
            <i class="fa-solid fa-check" inert></i>
            <span>{{localize "SETUP.PackageInstalled"}}</span>
        </button>
        {{~else if entry.installable~}}
        <button type="button" class="install-package" data-action="installPackage" data-manifest="{{entry.manifest}}">
            <i class="fa-solid fa-download" inert></i>
            <span>{{localize "Install"}}</span>
        </button>
        {{~else~}}
        <button type="button" disabled
                {{#if entry.button.tooltip}} data-tooltip aria-label="{{entry.button.tooltip}}"{{/if}}>
            <i class="fa-solid fa-lock" inert></i>
            <span>{{entry.button.label}}</span>
        </button>
        {{/if~}}
    </div>
    <p class="hint ellipsis">{{{entry.hint}}}</p>
    <div class="tags flexrow">
        <a class="ellipsis" href="{{entry.url}}" rel="nofollow nocontroller" target="_blank"
           data-tooltip aria-label="{{localize "SETUP.ViewPackageWebsite"}}">{{entry.url}}</a>
        <span class="tag" data-searchable hidden>{{entry.id}}</span>
        <span class="tag flexrow author" data-searchable>{{entry.author}}</span>
        <span class="tag flexrow version">{{localize "Version"}} {{entry.version}}</span>
    </div>
</div>
{{/each}}
